*,
*::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: grid;

  /* overflow-x: hidden; */
}

body{
  background-color: black;
}

header{
  display: flex;
  flex-direction: row;
  z-index: 1;
}

header li {
  list-style: none;
  display: inline-block;
  padding: 20px 0 20px 0;
}

header a {
  text-decoration: none;
  color: #555;
  transition: all 0.3s ease 0s;
  padding: 5px 20px 5px 20px;
  margin: 0 10px 0 10px;

  font-size: 15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;

  background-color: #EFEA5A;
  transition: 0.3s;
}

header a:hover {
  color: #E71D36;
}

.logo{
  justify-self: center;
  align-self: center;
  margin: 15px;
  padding: 5px;
  color: rgb(61, 61, 2);
  border-radius: 5px;
  background-color:#ffbf00;
  font-family: Title-font;
}

@font-face {
  font-family: Title-Font;
  src: url("/font/Vandalust.ttf");
}

@font-face {
  font-family: span-font;
  src: url("./font/LiberationSans-Regular.ttf");
}

.background{
  /* background-image: url("./image/background.jpg"); */
  background-color: rgb(10, 14, 32);
  background-blend-mode: overlay;
  padding: 50px;
  filter: blur(2px);

  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -5;
  
}

.container {
  /* background-color: #EFEA5A; */
  width: 100%;
  height: 1080px;
  /* padding: 10px; */
  /* margin: 15px; */
  margin-top: 2%;
  color: antiquewhite;
}

/* HOME PAGE */
.imgheader{
  width: 100%;
  max-height: 20%;
  object-fit: none;
  position: absolute;
  background-color: #020000;
  z-index: -2;
}

.headerquote{
  position: absolute;
  z-index: -1;
  font-family: Title-font;
  font-weight: 900;
  font-size: 100px;
  color: #EFEA5A;

  padding: 50px;
  justify-self: start;
  
  text-shadow: -10px 10px 0 #000000, /* lower */
               1px 1px 0 #000, /* right lower */
               1px -1px 0 #000, /* right upper */
               -4px -4px 0 #ef5a5a; /* upper */
}

.headerspan{
  padding: 2%;
  padding-top: 8%;
  font-size: 20px;
  color: aliceblue;
  width: 50%;
  line-height: 29px;

  font-family: span-font;
}


/* SEARCH PAGE */

.events-section{
  display: flex;
  flex-direction: row;
  min-width: 90%;
  max-height: 90%;
}

#results{
  display: flex;
  flex-direction: column;

  margin: 15px;
  padding: 2%;
  background-color: #0000005b;
}

.card h2{
  font-size: large;
  font-family: sans-serif;
  padding: 2px;
}


.card {
  background-color: white;
  padding: 10px;
  max-width: 450px;
}



.title {
  /* margin: 25px; */
  /* padding: 25px; */
  width: 65%;
  height: 9%;
  position: relative;

  text-align: center;
  font-family: Title-Font;
  letter-spacing: 10px;
  color: #E71D36;
  text-shadow: 2px 2px #0000005b;

}

#map{
  height: 750px;
  width: 100%;
}


.filter-box {
  background-color:#ffbf00;
  width: 100%;
  height: 60px;
  /* align-self: right; */
  /* justify-content: center; */
  padding: 15px;
  display: flex;
  margin: 0%;
}

.filter-box h3{
  background-color: #55555573;
  font-size: 15px;
  font-family: Title-font;
  letter-spacing: 3px;
  padding-left: 12px;
}

.price-filter,.location-search{
  padding: 5px;
  margin: 5px;
}

.price-filter,.location-search input{
  padding: 5px;
  border: none;

}
.search-bar-section {
  margin: 15px;
  padding: 15px;

  /* margin-left: 30%; */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;

  align-self: center;
  justify-self: center;

  border-radius: 5px;

  background-color: #ffffff5b;
  width: 30rem;
}
.input{
  display: flex;
  flex-direction: row;
}

.search-bar-section input, button{
 margin: 5px;
}

.search-bar-section input{
  padding: 15px;
  border-radius: 1px;
  border: none;
  width: 80%;
}


.search-bar-section button{
  width: 40%;
  align-self: center;

  padding: 5px;
  font-family: sans-serif;
  font-weight: bolder;

  border: none;
  color: #e3a62a;
  font-size: large;
  letter-spacing: 3px;
  border-radius: 4px;
  transition: 0.3s;
}

.search-bar-section button:hover{
  background-color: #ffbf00;
  color: rgb(8, 37, 101);
  cursor: pointer;
}


.search-bar-section p{
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  background-color: #EFEA5A;
  width: 40%;
  align-self: center;
  padding: 5px;
  border-radius: 10px;
}

.events-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;

  align-self: center;
  justify-self: center;

  height: 15%;
  /* margin: 12px; */
}

.events-map-section {
  width: 75%;
  text-align: center;
  background-color: whitesmoke;

  /* border: 5px solid #E71D36; */
  /* box-shadow: 10px 5px -5px red; */

}
/* END OF SEARCH CSS */